<!-- <h3>data binding</h3>
<h6>First Name : {{firstName}}</h6>
<table>
<tr>
    <td>Employee Name</td>
    <td>{{employeeobj.employeeName}}</td>
</tr>
<tr>
    <td>Employee Name</td>
    <td>{{employeeobj.designation}}</td>
</tr>
<tr>
    <td>Employee Name</td>
    <td>{{employeeobj.salary}}</td>
</tr>
</table>
<br><br>
<button type="button" [disabled]="isbtndisable">Login</button>
<h3>{{message1 |uppercase}}</h3>
<h3>{{message1 |lowercase}}</h3>
<h3>{{message1 |titlecase}}</h3> -->


<h3>Today's Date {{todayDate}}</h3>

<h3>Total Price:{{totalPrice | number:'.2-2'}}</h3>





